.MovieDetails {
    background-color: white;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
}

.MovieDetails__block1 {
    display: flex;
}

.MovieDetails__block1__description {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    color: black;
}

.MovieDetails__block1__date {
    font-weight: bolder;
    padding-left: 10px;
    color: black;
}

.MovieDetails__block1__title {
    font-weight: bolder;
    padding-left: 10px;
    color: black;
}

.MovieDetails__block1__vote {
    font-size: 18px;
    padding-left: 10px;
    font-style: italic;
    color: black;
}

.MovieDetails__picture {
    width: 115px;
    padding: 10px;
}

.MovieDetails__block2 {
    padding: 15px;
    display: flex;
    color: black;

}
