.App-Header__line {
    position: absolute;
    top: 0;
    background-color:#212121;
    color: white;
    height: 64px;
    width: 100%;
}

.App-Header__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    position: absolute;
    width: 300px;
    height: 24px;
    left: 60px;
    top: 0px;
}

.App-Header__returnBtn {
    position: absolute;
    top: 18px;
    left: 15px;
}
